.App {
  text-align: center;
  display: flex;
    flex-direction: column;
}

.topNav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: #212121;
  box-shadow: 2px 2px 5px #888888;
}